@font-face {
   font-family: 'Calistoga';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/khaledmosharrafmukut/tweaks/Website/kmmukut-copy/fonts/Calistoga/regular.ttf') format('truetype');
}
